@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-padrao
    }
}

@layer components {
    .logo-shadow {
        text-shadow: 0 0 10px #3CA6A6,
        0 0 20px #3CA6A6,
        0 0 40px #3CA6A6;
        transition: text-shadow 0.8s ease;
    }

    .logo {
        @apply text-azul-claro font-logo font-medium italic text-4xl md:text-4xl  hover:logo-shadow
    }

    .headerBanner {
        @apply hidden md:flex items-center bg-gray-600 bg-cover bg-no-repeat bg-center md:h-60 lg:h-64 xl:h-73 2xl:h-100 w-full espacamento
    }

    .navLink {
        @apply transition-colors duration-500 text-gray-300 font-medium hover:text-azul-claro
    }

    .navLinkMobile {
        @apply transition-colors duration-500 text-gray-300 font-semibold text-xl block text-center hover:text-azul-claro
    }

    .espacamento {
        @apply px-3 md:px-6 lg:px-9 xl:px-12 2xl:px-14
    }

    .bg-home-reservas{
        background-image: url('/src/assets/reservas.jpg');
        @apply bg-cover bg-no-repeat bg-center
    }

    .image-history {
        background-image: url('/src/assets/historia.jpg');
        @apply bg-cover bg-no-repeat
    }

    .btn-admin {
        @apply px-3 py-2 bg-dourado rounded-lg font-semibold hover:opacity-75
    }

    .mobile-filter {
        @apply items-center bg-dourado border-none rounded-tl-md rounded-tr-md flex font-bold h-10 justify-between py-0 px-10 relative
    }
}
